@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
  box-sizing: border-box;
}
body {
  background: #f1f0ef !important;
  font-family: 'Raleway', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-family: 'Raleway', sans-serif !important;
}


#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}


.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.loginComp {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.signupComp{
  margin-top: 1500px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}



#buttonSumbit{
  color: #292263;
  background-color: #B8EBA2 !important;
  border-color: #B8EBA2 !important;
}

.buttonPrevious{
  padding-top: 60px ;
  padding-left: 50px;
}

.buttonNext{
  padding-top: 60px ;
  padding-left: 40px;
}